@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login_wrap {
  width: 100%;
  height: 951px;
  background: url(../images/planeGr.png) no-repeat 50% 50% / cover;
}
#login_wrap .inner {
  max-width: 1140px;
  height: 951px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

#login_wrap .inner .login_box {
  width: 336px;
  height: 467px;
  padding: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#login_wrap .login_box h2 {
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Beyond';
  color: #F99D1D;
}

#login_wrap .inner .login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login_wrap .login_form span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-right: 10px;
}
#login_wrap .login_form .login_input {
  padding: 8px;
  margin-bottom: 20px;
  /* border: 1px solid #eee;
  border-radius: 30px;
  background-color: #eee; */
  border: none;
  border-bottom: 1px solid #ddd;
  /* outline-color: #8F50FC;; */
}
#login_wrap .login_form .login_input:focus {
  outline: none;
  border-color: #8F50FC;
}
#login_wrap .login_form .user_pw .login_input {
  margin-bottom: 5px;
}
#login_wrap .login_form .user_id {
  margin-left: 16px;
}
#login_wrap .login_form .login {
  margin: 100px 0 50px;
}
#login_wrap .login_form .etc_txt {
  text-align: end;
  padding: 0 35px;
}
#login_wrap .login_form .etc_txt a {
  color: #666;
  font-size: 11px;
  text-decoration: none;
}
#login_wrap .login_form .login_btn {
  display: block;
  width: 60%;
  margin: 0 auto 8px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background-color: #8F50FC;
  border-radius: 50px;
  border: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#login_wrap .login_form .join_btn {
  width: 150px;
  text-decoration: none;
  color: #8F50FC;
  font-weight: 700;
  font-size: 12px;
  margin: 0 auto;
}

/* 회원가입 */
#register_wrap {
  background-color: #eee;
}
#register_wrap .inner {
  max-width: 1140px;
  height: 951px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

#register_wrap .inner .register_box {
  width: 336px;
  height: 610px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#register_wrap .register_box h2 {
  margin-top: 30px;
  font-size: 20px;
  color: #8F50FC;
}
#register_wrap .register_form .register {
  margin: 50px 0 50px;
}
#register_wrap .register [class*="user"] {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
#register_wrap .register span {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #666;
  margin: 0 10px;
}
#register_wrap .register span strong {
  color: #F99D1D;
}
#register_wrap .register_form .register_input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}
#register_wrap .register_form .register_input:focus {
  outline: none;
  border-color: #8F50FC;
}
#register_wrap .register_form .etc_txt {
  text-align: end;
  padding: 0 35px;
}
#register_wrap .register_form .register_btn {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background-color: #8F50FC;
  border: none;
  border-radius: 50px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#pw_true {
	color: green;
	margin-left: 10px;
	font-size: 10px;
}
#pw_false {
	color: red;
	margin-left: 10px;
	font-size: 10px;
}



.user_hi {
	font-size: 10px;
    line-height: 36px;
    font-weight: 600;
    color: #FFFFFF;
    display: block;
    margin: 0 10px 0 0;
}
.mypage::after {
	content: '';
	position: absolute;
	left: -25px;
	top: -14px;
	-webkit-mask: url(../images/my_page_icon.svg) no-repeat 0 0 / 100%;
 	mask: url(../images/my_page_icon.svg) no-repeat 0 0 / 100%;
  	background: #fff;
	display: block;
	width: 20px;
	height: 20px;
	transition: all 0.2s
}
.mypage:hover::after {
	background: #fa9e1c;
	transition: all 0.2s
}

.customer {
	position: relative;
}
.customer .depth02 {
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translate(-50%, 0);
	width: 100px;
	height: 0px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	background: rgba(249, 157, 29, .7);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: all 0.3s;
}
.customer .depth02 a {
	display: block;
	width: 100%;
	padding: 0;
	margin: 5px 0;
	line-height: 30px;
}
.customer .depth02 a:hover {
	color: #222;
}

#header.on .depth02 {
	opacity: 1;
	transition: all 0.6s;
	visibility: visible;
	height: 130px;
}

.sub_free_board {
	position: relative;
	left: 0;
	top: 179px;
}
.sub_free_board .inner {
	max-width: 1140px;
	padding: 100px 15px 40px;
	margin: 0 auto;
	text-align: center;
}

.search_field {
	margin: 20px 0 80px;
}
.search_field select {
	padding: 6px 10px;
	margin-right: 15px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.search_field .search_wd {
	padding: 5px 10px;
	width: 300px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.search_field .search_btn {
	padding: 5px 15px;
	border-radius: 5px;
	border: 1px solid #8F50FC;
	background: #8F50FC;
	color: #fff;
	margin-left: 5px;
	cursor: pointer;
}

.sub_tit {
	font-size: 24px;
	color: #000;
	font-weight: 700;
	margin: 0;
}

.write_notice {
	margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    color: #222;
}
.write_btn {
	display: block;
	padding: 5px 10px;
	margin-left: auto;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.board {
	margin: 0 auto;
	width: 100%;
	font-size: 16px;
}
.board th {
	color: #222;
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
	padding: 8px 0;
}
.board td {
	border-width: 1px 0px;
	border-color: #ddd;
	border-style: solid;
	padding: 6px 0;
}
.board tr:last-child {
	border-bottom: 2px solid #555;
}
.board td {
	color: #222;
}
.board .title {
	display: block;
	padding: 0px 10px;
	width: 100%;
	color: #222;
	text-align: left;
	transition: all 0.2s;
}
.board .title:hover {
	color: #8F50FC;
	transition: all 0.2s;
}
.board .listX {
	padding: 20px 0;
	color: #666;
}

.page_temp {
	width: 25px;
    height: 25px;
	margin: 20px 6px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #8F50FC;
    color: #fff;
    font-weight: 700;
}
.page_btn {
    width: 25px;
    height: 25px;
	margin: 20px 6px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #eee;
    color: #000;
}


.write_wrap .inner {
  max-width: 1140px;
  padding: 0 15px;
  margin: 70px auto;
}
.write_wrap h2::after {
  content: '';
  margin: 30px 0;
  display: block;
  border: 2px solid #444;
  width: 100%;
}
.write_wrap .title_wrap {
  margin: 50px 0 50px;
  display: flex;
  justify-content: space-between;
}
.write_wrap .title_wrap span {
  margin-right: 20px;
  font-weight: 700;
}
.write_wrap .title_wrap .title {
  width: 94%;
  padding: 5px 10px;
  border: 1px solid #999;
}
.write_wrap .title_wrap .title:focus {
  outline-color: #666;
}
.write_wrap .content {
  width: 100%;
  height: 500px;
  padding: 30px;
  resize: none;
  border: 1px solid #999;
}
.write_wrap .content:focus {
  outline-color: #666;
}
.write_wrap .pass_wrap {
	margin-top: 20px;
	display: flex;
  	align-items: center;
}
.write_wrap .pass_wrap span {
  margin-right: 20px;
  font-weight: 700;
}
.write_wrap .pass_wrap .pass {
  width: 100px;
  padding: 5px 10px;
  border: 1px solid #999;
}
.write_wrap .pass_wrap .pass:focus {
  outline-color: #666;
}
.write_wrap .write_form::after {
  content: '';
  margin: 50px 0 20px;
  display: block;
  border: 2px solid #444;
  width: 100%;
}
.write_wrap .btn_wrap {
  display: flex;
  justify-content: flex-end;
}
.write_wrap .cancel_btn {
  margin-right:10px;
  padding: 10px 15px;
  background: #ddd;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #444;
  cursor: pointer;
}
.write_wrap .fwrite_btn {
  padding: 10px 15px;
  background: #8F50FC;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}